html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*FIN RESET*/

body{
    font-size: 18px;
    font-family: sans-serif;
    color: rgb(0);
    /*line-height: 1.3;*/
}
/*DEBUT TOPBAR*/

.topbar-container{
    z-index: 4;
    position: fixed;    
    top : 0;
    left: 0;
    right: 0;
    background : radial-gradient( rgb(40, 35, 35),rgb(0, 0, 0));
}

.titleTB{
    font-size: 64px; 
    float: left;
    color: white;
    margin-bottom: 12px;
    margin-left: 33px;
    margin-top : 13px;
   
}

span{
    color : #FFD200;
}

.menu{
    float: right;
    margin-right: 39px;
    margin-top : 36px;
    margin-bottom: 36px;
}

.menu ul li{
    display: inline-block;
}

.menu li a{
    margin-right: 69px;
    text-decoration: none;
    color: white;
}

.menu_separator{
    display: none;
}
/*FIN TOPBAR*/

/*DEBUT HEADER DE LA PAGE CARROUSEL*/
@keyframes slide{
    0% {left: 0%; }
    20% {left: 0%; }
    25% {left: -100%; }
    45% {left: -100%; }
    50% {left: -200%; }
    70% {left: -200%; }
    75% {left: -300%; }
    100% {left: -300%; }    
}

div#slider{
    width: 100%;
    max-width: 1920px;
    overflow: hidden;
}

div#slider figure{
    position : relative;
    z-index: 0;
    width : 400%;
    top : 90px;
    margin : 0;
    padding : 0;
    font-size: 0; /*Retire les espaces entre les images*/
    left :0;
    text-align: left;
    animation: 30s slide infinite;
}

div#slider figure img{
    width : 25%;
    height: 600px;
    float: left;
    filter: blur(4px);
}

/*FIN HEADER DE LA PAGE CARROUSEL*/

/*DEBUT HEADER CARD*/
.header-card{
    position : relative;
    color: rgb(65, 65, 65);
    font-size: 2.2em;
    margin-top : 100px;
    margin-left: 25%;
}

.header-card hr{
    position: absolute;
    width: 67%;
    margin-top : 10px;
}
/*FIN HEADER CARD*/

/*DEBUT CARTE*/
.card{
    margin-left: 35%;
    margin-top : 78px;
    width : 30%;
    overflow: hidden;
}

.card header{
    position : relative;
}

.card header img{
    position : absolute;
    top : 0;
    left: 0;
}

.card header p{
    font-size: 26px;
    padding-left : 10%;
    padding-top : 20px;
}

.card_exp{
    position: relative;
    float : right;
    font-size: 14px;
}

.card article{
    margin-top : 42px;
    margin-left : 5%;
    font-size: 18px;
    max-height: 150px;
    overflow: scroll;
}

.card-button{
    background: rgb(53, 53, 53);
    color : white;
    border: none;
    float: right;
    height: 42px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}


.card-button:hover{
    background: rgb(63, 63, 63);
    color : white;
    border: none;
    float: right;
    height: 42px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
/*FIN CARTE*/

/*Page Item*/

.composantItem{
    margin-top : 20px;
    margin-left : 25%;
    width : 50%;
}

.titre-item{
    margin-top : 6%;
}

.item-image{
    float : left;
    max-width : 250px;
    height: auto;
}

.titre-description-item{
    font-size : 2em;
    padding-left : 29%;
}

.description-item{
    padding-top : 20px;
    padding-left : 32%;
    text-align: justify;
}

.titre-description-item + hr{
    margin-left : 14%;
    width : 36%;
}

.titre-status-item{
    clear : left;
    padding-top : 10px;
    font-size: 2em;
    padding-left : 10px;
}

hr{
    position : absolute;
    width : 40%;
}

.status-item{
    margin-top: 20px;
    padding-left : 20px;
    font-size: 1.8em;
}

.rouge{
    color : #940600;
}

.vert{
    color : #009409;
}

.titre-form-reserve{
    padding-top: 20px;
    font-size: 2em;
    padding-left : 10px;
    
}

.form-reserve label{
    display: block;
    padding-bottom : 10px;
}

.form-nom,.form-message{
  margin-top : 20px;  
  margin-left : 30%;
}

#nomParticipantInput{
    font-size : 1.4em;
    width : 50%;
}

#nomParticipantInput,#messageInput{
    border : 1px solid black;
    border-radius: 6px;
}

#messageInput{
    font-size: 1.1em;
    width : 50%;

}

.form-submit{
    margin-top: 10px;
    margin-left : 42%;
    font-size : 1.3em;
    color : white;
    background-color : #424242;
    border : 0;
}

/*Item modification*/
#titre-item-modification-input{
    color: rgb(65, 65, 65);
    font-size: 39.6px;
    padding-left : 10px;
}

.label-nom-item{
    font-size : .5em;
    vertical-align:middle;
}

.description-item-modification{
 resize: none;
 font-family: sans-serif;
}

.item-image-modification{
    display: block;
}

.modification-submit{
    float: right;
    margin-top : 5px;
}

.item-image img{
    max-width : 250px;
    height: auto;
}





/*Faire les medias querries pour le phone*/
@media only all and (max-width: 980px){

    /*TOPBAR*/
    .titleTB{
        float : none;
        display: block;  
        text-align: center; 
        margin-left: 0;
    }

    .menu{
        float : none;
        display: block;
        margin : 0;
        margin-top : 30px;
        line-height: 0;
    }

    .menu ul{
        text-align: center;
    }

    .menu ul li{
        display: block;
        margin-bottom: 20px;
        
    }

    .menu li a{
        margin-right: 0;
    }

    .menu_separator{
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
        color : grey;
   }
   /*FIN TOPBAR*/

   /*DEBUT HEADER DE LA PAGE CARROUSEL*/
   div#slider{
       display: none;
   }
   /*FIN HEADER DE LA PAGE CARROUSEL*/

   /*Composant HomePage*/

   /*Composant Item*/

    
}